numpy
gymnasium
matplotlib
ipython
jupyterlab
networkx
stable_baselines3
sb3_contrib
pettingzoo
tqdm
galois
torchrl
torch_geometric
torch
pandas
scikit-learn
scipy
sympy
seaborn
Pillow
pyarrow
ipympl
jupyter
ipykernel
torch-scatter
torch-sparse
numba
torchvision
transformers